In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

df_cases: pd.DataFrame = pd.read_csv('../data/cleaned_csv/2-question_results/cases.csv', sep=',')
df_food : pd.DataFrame = pd.read_csv('../data/cleaned_csv/2-question_results/food.csv', sep=',')

# Pregunta 3) Tractament de valors no disponibles, NaN.

## 1. Si el fitxer no té valors NaN crea algunes files amb alguns valors NaN.

- Porque en el punto anterior ya hemos tratado los valores NaN, así ahora solo por el bien de la pregunta vamos a sustituir los valores "unknown" por el NaN de NumPy.

In [2]:
df_cases.replace('unknown', np.NaN)

,case_id,year,month,state,location,species,status,illnesses,hospitalizations,fatalities
0,1,1998,January,California,Restaurant,NaN,NaN,20,0.0,0.0
1,2,1998,January,California,NaN,NaN,NaN,112,0.0,0.0
2,3,1998,January,California,Restaurant,NaN,NaN,35,0.0,0.0
3,4,1998,January,California,Restaurant,Scombroid toxin,Confirmed,4,0.0,0.0
4,5,1998,January,California,Private Home/Residence,Salmonella enterica,Confirmed,26,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...
17390,17391,2015,December,Wisconsin,Restaurant,Norovirus genogroup II,Confirmed,4,0.0,0.0
17391,17392,2015,December,Wisconsin,Private Home/Residence,Norovirus genogroup II,Confirmed,16,0.0,0.0
17392,17393,2015,December,Wisconsin,Nursing Home/Assisted Living Facility,Norovirus genogroup II,Confirmed,43,3.0,0.0
17393,17394,2015,December,Wisconsin,Fast Food Restaurant,Norovirus genogroup II,Confirmed,5,0.0,0.0
17394,17395,2015,December,Wyoming,NaN,NaN,NaN,3,0.0,0.0

In [3]:
df_food.replace('unknown', np.NaN)

       case_id     food
0            1      NaN
1            2  custard
2            3      NaN
3            4     fish
4            4      ahi
...        ...      ...
26975    17391      NaN
26976    17392    salsa
26977    17393      NaN
26978    17394      NaN
26979    17395      NaN

[26980 rows x 2 columns]

## 2. Ahora, aplica una de estas dos operaciones y justifica el motivo:

---
### a) Sustituir el valor de los NaN de una columna por otro valor. (operación fillna)
### b) Eliminar las filas que tengan algún valor NaN concreto. (operación dropna)

- Las filas y columnas con demasiadas NaN valor ya han sido eliminados en la pregunta 2.), así solo nos queda la opción a.), sustituir los valores NaN en una columna.
- Vamos a elegir la columna "Food" del data frame "df_food", porque en esa columna nos sirve más informativo el valor "unknown", que NaN.

In [4]:
df_cases['status'].fillna('unknown')

0          unknown
1          unknown
2          unknown
3        Confirmed
4        Confirmed
           ...
17390    Confirmed
17391    Confirmed
17392    Confirmed
17393    Confirmed
17394      unknown
Name: status, Length: 17395, dtype: object

## Resultados final
---

In [6]:
df_food

       case_id     food
0            1  unknown
1            2  custard
2            3  unknown
3            4     fish
4            4      ahi
...        ...      ...
26975    17391  unknown
26976    17392    salsa
26977    17393  unknown
26978    17394  unknown
26979    17395  unknown

[26980 rows x 2 columns]

In [7]:
df_cases

,case_id,year,month,state,location,species,status,illnesses,hospitalizations,fatalities
0,1,1998,January,California,Restaurant,NaN,NaN,20,0.0,0.0
1,2,1998,January,California,NaN,NaN,NaN,112,0.0,0.0
2,3,1998,January,California,Restaurant,NaN,NaN,35,0.0,0.0
3,4,1998,January,California,Restaurant,Scombroid toxin,Confirmed,4,0.0,0.0
4,5,1998,January,California,Private Home/Residence,Salmonella enterica,Confirmed,26,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...
17390,17391,2015,December,Wisconsin,Restaurant,Norovirus genogroup II,Confirmed,4,0.0,0.0
17391,17392,2015,December,Wisconsin,Private Home/Residence,Norovirus genogroup II,Confirmed,16,0.0,0.0
17392,17393,2015,December,Wisconsin,Nursing Home/Assisted Living Facility,Norovirus genogroup II,Confirmed,43,3.0,0.0
17393,17394,2015,December,Wisconsin,Fast Food Restaurant,Norovirus genogroup II,Confirmed,5,0.0,0.0
17394,17395,2015,December,Wyoming,NaN,NaN,NaN,3,0.0,0.0

## Guardamos los data frames resultados en csv, para que sea procesado más en la siguiente pregunta.
---

In [5]:
output_path = Path('../data/cleaned_csv/3-question_results')
output_path.mkdir(parents=True, exist_ok=True)
df_cases.to_csv(f'{output_path}/cases.csv', index=False)
df_food.to_csv(f'{output_path}/food.csv', index=False)