# CONSULTA FILTRA RESULTADOS

Mostrar:
- Algunas columnas
- Algunas filas

### IMPORTS

In [90]:
import pandas as pd
import numpy as np

### DATAFRAME

In [91]:
data: pd.DataFrame = pd.read_csv("../data/cleaned_csv/cases.csv", index_col="case_id")
data.head(15)

,year,month,state,location,species,status,illnesses,hospitalizations,fatalities
case_id,,,,,,,,,
1,1998,January,California,Restaurant,NaN,NaN,20,0.0,0.0
2,1998,January,California,NaN,NaN,NaN,112,0.0,0.0
3,1998,January,California,Restaurant,NaN,NaN,35,0.0,0.0
4,1998,January,California,Restaurant,Scombroid toxin,Confirmed,4,0.0,0.0
5,1998,January,California,Private Home/Residence,Salmonella enterica,Confirmed,26,3.0,0.0
6,1998,January,California,Restaurant,Shigella boydii,Confirmed,25,3.0,0.0
7,1998,January,California,Restaurant,NaN,NaN,8,0.0,0.0
8,1998,January,California,Restaurant,Salmonella enterica,Confirmed,4,3.0,0.0
9,1998,January,Colorado,Restaurant,Virus,Suspected,21,NaN,NaN
10,1998,January,Colorado,Restaurant,Virus,Suspected,3,NaN,0.0
11,1998,January,Colorado,Grocery Store,Virus,Suspected,8,NaN,NaN
12,1998,January,Colorado,Restaurant,Virus,Suspected,28,NaN,0.0
13,1998,January,Colorado,Private Home/Residence,Virus,Suspected,10,NaN,NaN
14,1998,January,Florida,Restaurant,NaN,NaN,2,NaN,NaN
15,1998,January,Florida,Restaurant,NaN,NaN,3,0.0,0.0

### FILTERS

- COLUMNAS
  
Muestra las columnas location,species, illnesses

In [92]:
entries_columns = data.loc[:,["location","species", "illnesses"]]
entries_columns.head(15)

                       location              species  illnesses
case_id
1                    Restaurant                  NaN         20
2                           NaN                  NaN        112
3                    Restaurant                  NaN         35
4                    Restaurant      Scombroid toxin          4
5        Private Home/Residence  Salmonella enterica         26
6                    Restaurant      Shigella boydii         25
7                    Restaurant                  NaN          8
8                    Restaurant  Salmonella enterica          4
9                    Restaurant                Virus         21
10                   Restaurant                Virus          3
11                Grocery Store                Virus          8
12                   Restaurant                Virus         28
13       Private Home/Residence                Virus         10
14                   Restaurant                  NaN          2
15                   Restaurant                  NaN          3

- FILAS
  
Afectados entre 1998-2000, restaurante, en Florida

In [93]:
entries_files = data.loc[(data["year"] <= 2000) & (data["location"] == "Restaurant") & (data["state"] == "Florida")]
entries_files

,year,month,state,location,species,status,illnesses,hospitalizations,fatalities
case_id,,,,,,,,,
14,1998,January,Florida,Restaurant,NaN,NaN,2,NaN,NaN
15,1998,January,Florida,Restaurant,NaN,NaN,3,0.0,0.0
16,1998,January,Florida,Restaurant,Clostridium perfringens,Suspected,3,0.0,0.0
17,1998,January,Florida,Restaurant,Norovirus genogroup I,Suspected,2,NaN,NaN
18,1998,January,Florida,Restaurant,Staphylococcus aureus,Suspected,2,0.0,0.0
...,...,...,...,...,...,...,...,...,...
3960,2000,December,Florida,Restaurant,NaN,NaN,2,0.0,0.0
3961,2000,December,Florida,Restaurant,NaN,NaN,2,0.0,0.0
3962,2000,December,Florida,Restaurant,Bacillus cereus,Suspected,2,0.0,0.0
3963,2000,December,Florida,Restaurant,NaN,NaN,2,0.0,0.0
3964,2000,December,Florida,Restaurant,Staphylococcus aureus,Suspected,3,0.0,0.0

Mirar el total de afectados en Florida en un restaurante entre 1998-2000 por curiosidad

In [94]:
total_illnesses = entries_files.loc[:,"illnesses"].sum()
print("El total de afectados en Florida entre 1998-2000 y en un restaurante es: ")
total_illnesses

El total de afectados en Florida entre 1998-2000 y en un restaurante es:

3807